.form {
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
input {
    margin: 10px;
}
select {
    padding: 10px;
    margin: 10px;
}
.items {
    margin: 30px;
}
.item {
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 10px;
}
.item-title {
    font-size: 25px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.time {
    font-weight: bold;
}
.low {
    color: green;
}
.medium {
    color: #fcb504;
}
.hard {
    color: red;
}